<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="trikita.obsqr"
		android:installLocation="auto"
		android:versionCode="11"
		android:versionName="2.6">
	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
		<activity android:name="ObsqrActivity"
				android:launchMode="singleTop"
				android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH_LONG_PRESS" />
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />

	<uses-sdk
		android:minSdkVersion="9"
		android:targetSdkVersion="19"
		/>
</manifest> 
